body {
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}

.hero {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 59%,
    rgba(93, 93, 224, 1) 100%
  );
  background-size: cover;
  padding: 4rem 2rem;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.header .icon {
  display: none;
}

.banner {
  margin-top: 5em;
  padding: 2em;
}
.banner-image {
  width: 100px;
  height: auto;
}

.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}

.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.btn {
  position: relative;
  background: #5d5de0;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 80px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

.header.sticky {
  background: rgba(93, 93, 224, 0.7);
  color: #fff;
  padding: 10px 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.header .logo {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}

.header .toggle {
  position: relative;
  display: flex;
}

.header .toggle a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

.header .toggle a:hover {
  text-decoration: none;
  color: rgb(93, 93, 224);
  filter: drop-shadow(0 0 0.75rem #111);
}

.header.sticky a {
  color: #fff;
}

.fade {
  display: none;
}

.element {
  padding: 4rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

figure {
  max-height: 50rem;
  padding-top: 20px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  position: relative;
}

.element figure img {
  width: 80%;
  height: auto;
  border-radius: 10px 10px;
}

.bio {
  width: 85%;
  text-align: justify;
}

.elements {
  padding: 4rem;
  display: grid;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  grid-row-gap: 4rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 59%,
    rgba(93, 93, 224, 1) 100%
  );
  /*background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 50%,
    rgba(93, 93, 224, 1) 100%
  );*/
}

.elements .workImage {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.elements .workImage img {
  width: 500px;
  height: auto;
  align-items: center;
  border-radius: 5px 5px;
  filter: drop-shadow(10px 10px 10px #000);
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.elements .workImage img:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.8);
}

.elements .workText .p1 {
  width: 80%;
  height: 40vh;
  max-width: 500px;
  text-align: justify;
  color: white;
  padding: 2rem 3rem;
  position: relative;
  text-shadow: 3px 3px 10px #000;
  /*background-color: rgba(128, 128, 128, 0.8);*/
  filter: drop-shadow(10px 10px 10px #000);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 35px 10px;
}

.gc1 {
  background-color: rgba(39, 157, 241, 0.8);
}
.gc2 {
  background-color: rgba(54, 142, 237, 0.8);
}
.gc3 {
  background-color: rgba(64, 129, 234, 0.8);
}
.gc4 {
  background-color: rgba(77, 113, 229, 0.8);
}
.gc5 {
  background-color: rgba(93, 93, 224, 0.8);
}

.elements2 {
  padding: 4rem;
  display: none;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  grid-row-gap: 4rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 59%,
    rgba(93, 93, 224, 1) 100%
  );
  /*background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 50%,
    rgba(93, 93, 224, 1) 100%
  );*/
}

.elements2 .workImage {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.elements2 .workImage img {
  width: 500px;
  height: auto;
  align-items: center;
  border-radius: 5px 5px;
  filter: drop-shadow(10px 10px 10px #000);
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.elements2 .workImage img:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.8);
}

.elements2 .workText .p1 {
  width: 80%;
  height: 40vh;
  max-width: 500px;
  text-align: justify;
  color: white;
  padding: 2rem 3rem;
  position: relative;
  text-shadow: 3px 3px 10px #000;
  /*background-color: rgba(128, 128, 128, 0.8);*/
  filter: drop-shadow(10px 10px 10px #000);
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 35px 10px;
}

.contact {
  padding: 4rem;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(2, minmax(240px, 1fr));
  grid-row-gap: 4rem;
}

#contact .heading {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  color: #5d5de0;
}

.contact h3 {
  color: #5d5de0;
  font-size: 24px;
  font-weight: 700;
}

.contact a {
  color: #5d5de0;
}

.contact a:hover {
  color: #2a9ef1cc;
  text-decoration: none;
}

.contactInfo h3 {
  padding-bottom: 3rem;
}

.contact p {
  margin-bottom: 2em;
}

.contactInfoBx {
  display: inline;
  align-content: flex-start;
  margin-top: 0;
}

.contactInfoBx h3 {
  padding-bottom: 0;
}

.contactInfoBx .box1 .icon {
  min-width: 40px;
  padding-top: 4px;
  display: flex;
  justify-content: left;
  font-size: 24px;
  color: #5d5de0;
}

.contactInfoBx .box1 .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #000;
  flex-direction: column;
  font-weight: 300;
  text-align: left;
}

.contactInfoBx .box1 .text h3 {
  font-weight: 500;
  color: #5d5de0;
  margin-bottom: 0;
}

.formBx form {
  display: flex;
  flex-direction: column;
}

.formBx form input,
.formBx form textarea {
  margin-bottom: 20px;
  padding: 15px;
  background-color: transparent;
  font-size: 16px;
  border: solid;
  border-width: 1px;
  outline: none;
  resize: none;
  max-width: 80%;
}

.formBx form textarea {
  min-height: 200px;
}

.formBx form input[type="submit"] {
  max-width: 100px;
  background: #5d5de0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

#status.success {
  background-color: #5d5de0;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}

#status.error {
  background-color: rgb(233, 59, 59);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 860px) {
  body {
    width: 100%;
    text-align: center;
  }

  .banner-image {
    width: 50px;
    height: auto;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
  }
  .header a {
    display: none;
  }
  .header a.icon {
    float: left;
    display: block;
    color: #fff;
  }
  .header .toggle a {
    display: none;
  }
  .header.responsive {
    position: relative;
  }
  .header.responsive a.icon {
    position: absolute;
    left: 5px;
    top: 5px;
    color: #111;
  }
  .header.responsive .toggle a {
    float: none;
    display: block;
    text-align: left;
    color: #111;
  }
  .header.responsive .toggle a {
    float: none;
    display: block;
    text-align: left;
  }

  .hero {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    padding: 1rem 1rem;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(240px, 1fr);
  }

  .hero .banner {
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .hero .banner h2 {
    font-size: small;
  }
  .hero .banner h3 {
    font-size: small;
  }
  .btn {
    position: relative;
    background: #5d5de0;
    display: inline-block;
    color: #fff;
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
  }

  .hero .banner .banner-image {
    width: 300px;
    height: auto;
  }

  .element {
    padding: 1rem;
  }

  .element figure img {
    width: 300px;
    height: auto;
  }

  .element .bio {
    padding: 1rem;
    width: 100%;
  }
  .elements {
    display: none;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 10px 64px 10px;
    grid-template-columns: 1fr;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .elements .workImage img {
    width: 300px;
    height: auto;
    border-radius: 5px 5px;
    filter: drop-shadow(10px 10px 10px #000);
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }

  .elements .workImage img:hover {
    transform: scale(1.05);
  }

  .elements .workText .p1 {
    text-align: center;
    color: white;
    height: auto;
    text-shadow: 3px 3px 10px #000;
    background-color: rgba(128, 128, 128, 0.8);
    filter: drop-shadow(10px 10px 10px #000);
    border-radius: 45px 10px;
  }

  .elements2 {
    display: grid;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 10px 64px 10px;
    grid-template-columns: 1fr;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .elements2 .workImage img {
    width: 300px;
    height: auto;
    border-radius: 5px 5px;
    filter: drop-shadow(10px 10px 10px #000);
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }

  .elements2 .workImage img:hover {
    transform: scale(1.05);
  }

  .elements2 .workText .p1 {
    text-align: center;
    color: white;
    height: auto;
    text-shadow: 3px 3px 10px #000;
    filter: drop-shadow(10px 10px 10px #000);
    border-radius: 45px 10px;
  }

  .elements2 .gc1 {
    background-color: rgba(39, 157, 241, 0.8);
  }
  .elements2 .gc2 {
    background-color: rgba(54, 142, 237, 0.8);
  }
  .elements2 .gc3 {
    background-color: rgba(64, 129, 234, 0.8);
  }
  .elements2 .gc4 {
    background-color: rgba(77, 113, 229, 0.8);
  }
  .elements2 .gc5 {
    background-color: rgba(93, 93, 224, 0.8);
  }

  .contact {
    display: grid;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 10px 64px 10px;
    grid-template-columns: 1fr;
  }
  #contact .heading {
    text-align: center;
    color: #5d5de0;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .contactInfo {
    padding-bottom: 2em;
    text-align: center;
  }

  .contactInfo h3 {
    margin-bottom: 2em;
  }

  .formBx form input,
  .formBx form textarea {
    margin-bottom: 20px;
    padding: 15px;
    background-color: transparent;
    font-size: 16px;
    border: solid;
    border-width: 1px;
    outline: none;
    resize: none;
    max-width: 100%;
  }

  .contactInfoBx {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .contactInfoBx .box1 .icon {
    min-width: 40px;
    padding-top: 4px;
    display: flex;
    justify-content: left;
    font-size: 24px;
    color: #5d5de0;
  }

  .contactInfoBx .box1 .icon .far {
    margin-left: auto;
    margin-right: .5rem;
  }

  .contactInfoBx .box1 .icon .fab {
    margin-left: auto;
    margin-right: .5rem;
  }

  .contactInfoBx .text {
    display: flex;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
    text-align: left;
    margin-right: auto;
  }

  .contactInfoBx .text h3 {
    margin-bottom: 0;
  }
}
